@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@300&family=Ubuntu&display=swap");

html,
body {
	background-color: rgb(41, 12, 65);
	color: #fff;
	scroll-behavior: smooth;
}

section {
	min-height: 100vh;
	z-index: 1;
}

.navbar {
	min-height: 70px;
}
.nav-link {
	font-size: 17px;
	color: rgb(46, 0, 83) !important;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: 700;
	letter-spacing: 2.5px;
	line-height: 1.7;
	padding-left: 3rem !important;
}
.nav-link:active {
	color: rgb(0, 0, 0);
}
.nav-link:hover {
	color: rgb(31, 1, 56) !important;
	font-size: 20px;
}

#entry-scroller {
	font-size: 68px;
	color: rgba(221, 223, 224, 0.274);
	z-index: 5;
	top: 87%;
	left: 45%;
	position: absolute;
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
#entry-scroller:hover {
	color: rgba(255, 255, 255, 0.486);
	font-size: 72px;
}
@keyframes blink {
	from {
		color: rgba(148, 149, 150, 0.274);
	}
	to {
		color: rgba(253, 253, 253, 0.637);
	}
}

.row,
.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-bottom: 0px !important;
}

ul {
	list-style-type: none;
}
.icon {
	margin: 3rem 3.5rem 0rem 3.5rem;
	font-size: 73px;
}
#icon-card {
	justify-content: space-evenly;
	align-items: center;
	color: black;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	background-color: rgb(233, 232, 232);
	border-radius: 30px;
	padding: 3rem 2rem 3rem 2rem;
}
#footer {
	background-color: #ffffff;
	border-bottom: 5px solid #fae675;
	color: rgb(21, 0, 48);
	text-align: center;
	margin-bottom: 0px !important;
	padding: 1rem 0px 1rem 0rem !important;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
}

/* Font settings */

h {
	font-size: 2rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
	font-size: 16px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	letter-spacing: 2.5px;
	line-height: 1.7;
}
.main_title {
	font-size: 2.5rem;
	font-family: "Ubuntu", sans-serif;
	position: absolute;
	z-index: 5;
	top: 65%;
	left: 20%;
	letter-spacing: 2px;
	background-color: rgba(0, 0, 0, 0.575);
	color: #fae675;
	border-radius: 15px;
	font-weight: 700;
	line-height: 1.5;
	padding: 10px 10px;
	text-align: center;
	animation-name: titleAppears;
	animation-duration: 2s;
	animation-iteration-count: 1;
}
@keyframes titleAppears {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0rem);
	}
}
.first_section_title {
	font-size: 2rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.section_title {
	border-top: 2px solid #fae675;
	font-size: 2rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding-bottom: 2rem;
	padding-top: 2rem;
}
.subtitle {
	font-size: 1.3rem;
	text-decoration: underline;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.main_article {
	font-size: 16px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	letter-spacing: 2.5px;
	line-height: 1.7;
	padding-bottom: 5rem;
}
.normal_text {
	font-size: 16px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	letter-spacing: 2.5px;
	line-height: 1.7;
}
dl {
	font-size: 16px !important;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
	letter-spacing: 2.5px !important;
	line-height: 1.7;
}

dd {
	margin: 10px 0px 20px 0px;
	font-size: 16px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	letter-spacing: 2.5px;
	line-height: 1.7;
}
/* Links */
#profile-link {
	color: #fff;
	font-weight: 600;
}
#profile-link:link {
	color: #fff;
}
#profile-link:active {
	color: #fff;
	text-decoration: underline;
}
#project-tile:hover {
	border: 4px outset #fff;
	width: 110%;
}
#portfolio-link {
	font-size: 16px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	letter-spacing: 2.5px;
	line-height: 1.7;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fae675;
	margin-bottom: 20px;
}
#portfolio-link:active {
	text-decoration: none;
	font-weight: 800;
	font-size: medium;
}
#bottom-link {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	vertical-align: bottom;
}
#bottom-link:link {
	color: #fff;
}
#bottom-link:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fae675;
}
#social-icon {
	font-size: 36px;
	color: rgb(230, 230, 230);
}

#social-icon:link {
	color: rgb(230, 230, 230);
}
#social-icon:active {
	color: rgb(230, 230, 230);
}
.linkFCC {
	color: #fff !important;
	font-weight: 600;
}
.linkFCC:active {
	text-decoration: underline;
}
/* Pictures */
#header-pic {
	width: 100vw;
	z-index: 1;
}
#myphoto {
	width: 40%;
	height: auto;
	margin-bottom: 3rem;
}
#project-tile {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

@media (max-width: 570px) {
	#myphoto {
		width: 60%;
		height: auto;
		margin-bottom: 3rem;
	}
	.normal_text {
		font-size: 16px;
		font-weight: 500;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		letter-spacing: normal;
		line-height: 1.7;
	}

	.main_title {
		font-size: 1.5rem;
		top: 60%;
		right: 25%;
		left: 0%;
		letter-spacing: 2px;
		padding: 5px;
	}
	#entry-scroller {
		font-size: 56px;
		color: rgba(221, 223, 224, 0.274);
		z-index: 5;
		top: 87%;
		left: 45%;
		position: absolute;
	}
	#entry-scroller:hover {
		color: rgba(255, 255, 255, 0.486);
		font-size: 60px;
	}

	#icon-card {
		margin-top: 2rem;
		margin-bottom: 5rem;
		border-radius: 0px;
		padding: 2rem 0px 2rem 0px;
	}
}
@media (min-width: 570px) {
	.main_title {
		font-size: 1.5rem;
		top: 60%;
		right: 25%;
		left: 0%;
		letter-spacing: 2px;
		padding: 5px;
	}
	#entry-scroller {
		font-size: 56px;
		color: rgba(221, 223, 224, 0.274);
		z-index: 5;
		top: 87%;
	
	
	}
	#entry-scroller:hover {
		color: rgba(255, 255, 255, 0.486);
		font-size: 60px;
	}
}

@media (min-width: 800px) {
	.main_title {
		font-size: 1.5rem;
		top: 70%;
		right: 25%;
		left: 0%;
		letter-spacing: 2px;
		padding: 5px;
	}
	#entry-scroller {
		font-size: 56px;
		color: rgba(221, 223, 224, 0.274);
		top: 87%;

	}
	#entry-scroller:hover {
		color: rgba(255, 255, 255, 0.486);
		font-size: 60px;
	}
}

@media (min-width: 1000px) {
	.main_title {
		font-size: 2rem;
		top: 55%;
		left: 20%;
		letter-spacing: 2px;
		padding: 10px 10px;
	}
	#entry-scroller {
		top: 70%;
	}
}
@media (min-width: 1200px) {
	.main_title {
		font-size: 2.5rem;
		top: 65%;
		left: 20%;
	}
	#entry-scroller {
		top: 87%;
	}
}
